.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  margin-top: 10px;
  margin-bottom: 20px; 
  display: flex;
  gap: 10px; 
}

.filter-container select {
  width: 200px; 
}
 
 .film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.film {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
  background-color: rgba(229, 149, 0, 0.6);
}

.film:hover {
  background-color: rgba(132, 0, 50, 0.6); 
}


select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  gap: 10px;
}


select:focus {
  outline: none;
  border-color: rgba(229, 149, 0);
  box-shadow: 0 0 5px rgba(229, 149, 0, 0.6);
}

.soovita {
  cursor: pointer;
}

.soovita:hover {
  color: rgba(229, 149, 0, 0.6); 
}

.film img {
  width: 100px;
  height: auto; 
}