.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   
   .seanssid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .seanss {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    background-color: rgba(229, 149, 0, 0.6);
  }
  
  .seanss:hover {
    background-color: rgba(132, 0, 50, 0.6); 
  }

  .seanss-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer; 
  }